<main class="max-w-none p-[.5rem] lg:p-[4rem]">
  <div class="lg:grid lg:grid-flow-col lg:grid-cols-3 lg:justify-start lg:items-start lg:gap-[2rem] lg:mb-[2rem] lg:w-full">
    <div class="hero prose lg:prose-xl ">
      <div class="hero-content text-center bg-base-200 rounded-sm lg:rounded-lg">
        <div class="max-w-md">
          <h1 class="text-xl lg:text-5xl font-bold">AI Lorem Ipsum Generator</h1>
          <p class="py-6">Provide a topic and generate structured HTML influenced by it.</p>
        </div>
      </div>
    </div>

    <div class="lg:grid lg:gap-[2rem] lg:col-span-2 lg:grid-cols-1">
      <form class="py-[1rem] grid gap-[1rem] lg:py-0 lg:grid-flow-col lg:grid-cols-2 lg:auto-cols-max" (ngSubmit)="onSubmit()" #promptForm="ngForm">
        <label class="input input-bordered flex items-center gap-2">
          Topic:
          <input type="text" class="grow" id="topics" placeholder="Spaghetti" required [(ngModel)]="topic" name="topics">
        </label>

        <div class="grid grid-flow-col gap-[1rem]">
          <button type="submit" class="btn" [disabled]="!promptForm.form.valid">Generate</button>
          <button type="button" class="btn btn-secondary" [disabled]="!(promptForm.valid && promptForm.dirty)" (click)="clearSearch()">Clear</button>
        </div>
      </form>

      <div id="response-carousel" class="carousel carousel-center p-4 space-x-4 bg-neutral rounded-box max-w-full lg:max-w-none">
        <div *ngFor="let generatedResponse of generatedResponses$ | async" class="carousel-item max-w-[90%]">
          <div class="prose lg:prose-lg w-full rounded-box max-w-none bg-base-200 card shadow-xl p-[1rem] lg:p-[2rem]">
            <div class="card-actions justify-between">
              <button class="btn btn-active btn-primary btn-sm">{{generatedResponse.topic}}</button>
              <button class="btn btn-primary btn-sm btn-outline" (click)="copyResponse(generatedResponse.response)">Copy</button>
            </div>
  
            <div class="card-body p-0 pt-[1rem]">
              <div id="generated-response" [innerHTML]="generatedResponse.response"></div>
            </div>
          </div>
        </div> 

        <div *ngFor="let response of responses" class="carousel-item max-w-[90%]">
          <div class="prose lg:prose-lg w-full rounded-box max-w-none bg-base-200 card shadow-xl p-[1rem] lg:p-[2rem]">
            <div class="card-actions justify-between">
              <button class="btn btn-active btn-primary btn-sm">{{response.topic}}</button>
              <button class="btn btn-primary btn-sm btn-outline" (click)="copyResponse(response.content)">Copy</button>
            </div>
  
            <div class="card-body p-0 pt-[1rem]">
              <div id="generated-response" [innerHTML]="response.content"></div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</main>
