<main class=" prose lg:prose-xl max-w-none p-[.5rem] lg:p-[4rem]">
  <div class="hero min-h-[50%]">
    <div class="hero-content text-center bg-base-200 rounded-sm lg:rounded-lg">
      <div class="max-w-md">
        <h1 class="text-xl lg:text-5xl font-bold">AI Lorem Ipsum Generator</h1>
        <p class="py-6">Provide a topic and generate structured HTML influenced by it.</p>
      </div>
    </div>
  </div>
  <form class="py-[1rem] grid gap-[1rem]" (ngSubmit)="onSubmit()" #promptForm="ngForm">
    <label class="input input-bordered flex items-center gap-2">
      Topic:
      <input type="text" class="grow" id="topics" placeholder="Spaghetti" required [(ngModel)]="topic" name="topics">
    </label>
    <div class="grid grid-flow-col gap-[1rem]">
      <button type="submit" class="btn" [disabled]="!promptForm.form.valid">Generate</button>
      <button type="button" class="btn btn-secondary" [disabled]="!(promptForm.valid && promptForm.dirty)" (click)="clearSearch()">Clear</button>
    </div>

  </form>

  <div *ngIf="response" class="card w-full bg-neutral shadow-xl">
    <div class="card-actions justify-end m-[1rem]">
      <button class="btn btn-primary btn-sm lg:btn-lg" (click)="copyResponse(response)">Copy</button>
    </div>
    <div class="card-body pt-0">
      <div id="generated-response" [innerHTML]="response"></div>
    </div>
  </div>

</main>
